<h1>React Calendar</h1>

<h2>Appointments</h2>

<h3>Make a New Appointment</h3>

<!-- use react helper. Pass prop (attribute) inside it -->
<%= react_component('Appointments', appointments: @appointments ) %>
